
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MethodOne</title>
</head>
<body>
  <table class="container">
      <tr>
          <td>Name :</td>
      </tr>
      <tr>
          <td></td>
      </tr>
      <tr>
          <td> Age :</td>
      </tr>
      <tr>
          <td> </td>
      </tr>
  </table>
</body>
</html>
