@model HarshavardhanEF.Models.Customer

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Customers</h2>

<table class="table">
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Contact Tittle</th>
        <th>Address</th>
        <th>City</th>
        <th>Region</th>
        <th>Postal Code</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>

    </tr>
    <tr>

    </tr>
</table>

