
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<table class="table">
    <tr>
        <td>Toll Free : </td>
        <td>@ViewBag.TollFree</td>
    </tr>
    <tr>
        <td>Phone :</td>
        <td>@ViewBag.LandLine</td>
    </tr>
    <tr>
        <td>Email :</td>
        <td>@ViewBag.Email</td>
    </tr>
</table>

